@import url('https://fonts.googleapis.com/css?family=Inconsolata');

html, body{min-height: 100%;}
body{
    background-image: url("/images/EmpireStrikesBack.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:auto;
    background-position:center;

}

div{
    margin: auto;
}

h1, h3, h6{
    font-family: "Inconsolata";
    color:#ffffff;
}



input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    font-family: "Inconsolata";
    font-size: 20px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }