@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body{
    background-image: url("/images/EmpireStrikesBack.jpg");
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}

h1, h3{
    font-family: "Inconsolata";
    color:#ffffff;
}



input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    font-family: "Inconsolata";
    font-size: 20px;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }